<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Quokka</title>
	</head>
	<body>
		<h1>Quokka</h1>
		<a href="{{url_for('login')}}">Login</a><br />
		<a href="{{url_for('register')}}">Register</a><br />
		<a href="{{url_for('logout')}}">Press here to logout</a><br />
		<div>
			<form method="POST">
				{{ form.hidden_tag() }}
				<div>
					<label>Name</label>
					<p>{{ form.name }}</p>
				</div>
				<div>
					<label>Email</label>
					<p>{{ form.email }}</p>
				</div>
				<div>
					<p>{{ form.submit }}</p>
				</div>
			</form>
		</div>
	</body>
</html>
